@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,600,700&display=swap');
.App {
  font-family: 'Roboto Slab', serif;
}
.App .bg-light {
  background-color: 
  #001c41 !important;
}
.App .navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}
.App .main-title{
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(9,19,46,.1);
  font-size: 2.3em;
}
.App .jumbotron {

  padding: 0 !important;
  margin-top: 20px !important;

}
.App table{
  font-family: 'Roboto', serif;
}
.App table thead{
  font-weight: bold;
}
.App .jumbotron{
  padding: 10px !important;
}